/* Breakpoints:
phones  - 428px
tablet  - 768px
desktop - 1158px */
/* =============== Variable colors Переменные ===============*/
:root {
  /* Fonts */
  --font-family: Roboto, sans-serif;
  --secondary-fonts: Raleway, sans-serif;
  /* Text color */
  --navyblue-txt-cl: #2e2f42;
  --slate-txt-cl: #434455;
  --iris-txt-cl: #4d5ae5;
  --ocean-txt-cl: #404bbf;
  --white-txt-cl: #ffffff;
  --cloud-txt-cl: #f4f4fd;
  --cornflower-txt-cl: #e7e9fc;
  --light-slate: #8e8f99;
  /* BG color */
  --navyblue-bg-cl: #2e2f42;
  --iris-bg-cl: #4d5ae5;
  --ocean-bg-cl: #404bbf;
  --white-bg-cl: #ffffff;
  --cloud-bg-cl: #f4f4fd;
  --cornflower-bg-cl: #e7e9fc;
  --light-slate: #8e8f99;
  --green-bg-cl: #31d0aa;
  --black-bg-cl: #000000;
  /* Shadow */
  --shadow-8: rgba(0, 0, 0, 0.08);
  --shadow-08: rgba(46, 47, 66, 0.08);
  --shadow-01: rgba(0, 0, 0, 0.1);
  --shadow-10: rgba(255, 255, 255, 0.1);
  --shadow-12: rgba(0, 0, 0, 0.12);
  --shadow-14: rgba(0, 0, 0, 0.14);
  --shadow-15: rgba(0, 0, 0, 0.15);
  --shadow-16: rgba(46, 47, 66, 0.16);
  --shadow-02: rgba(0, 0, 0, 0.2);
  --shadow-20: rgba(33, 33, 33, 0.2);
  --shadow-30: rgba(255, 255, 255, 0.3);
  --shadow-04: rgba(0, 0, 0, 0.4);
  --shadow-50: rgba(117, 117, 117, 0.5);
  --shadow-60: rgba(255, 255, 255, 0.6);
  --shadow-70: rgba(46, 47, 66, 0.7);
  /* Others */
  --radius: 4px;
  --indent: 24px;
  --items: 3;
  /* ===== Transition time ===== */
  --transit: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ===== Card-set сетка для портфолио ===== */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
/* формула для flex-сетки (портволио и т.п.) */
.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/* ===== Animations ===== */

@keyframes title-hero-zoom {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* анимация из библиотеки animista */
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
/**
  |============================
  | Reset style
  |============================
*/
/* Нормализация(box-sizing: border-box;) 
- Первый вариант: прописываются это правило в начале файла CSS, без подключания файлоа таблицы стилей Modern-normalize. 
- Второй вариант подключается Modern-normalize таблица стилей в шапке сайта в теге <head>, во втором варианте после подключения modern-normalize в теге head, этот кастыль нам не нужен!

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: currentColor;
}
/**
  |============================
  | Base styles
  |============================
*/
html {
  scroll-behavior: smooth;
}
body {
  padding-top: 76px;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: calc(24 / 16); /* (150%) (1.5) */
  letter-spacing: 0.32px;

  color: var(--navyblue-txt-cl);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
/**
  |============================
  | Common styles
  |============================
*/
.section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  /* outline: 1px solid red; */ /* Нужен в начале разработки, чтоб видеть края элементов */
}
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.logo {
  display: inline-block;

  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33; /* 133.333% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--iris-txt-cl);
}
.current {
  color: var(--ocean-txt-cl);
}
.title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
}
.caption {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.post-desc {
  color: var(--slate-txt-cl);
}
/* Button */
.btn {
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
}
.button {
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  color: var(--white-txt-cl);
  background-color: var(--iris-bg-cl);
  border: transparent;
  border-radius: var(--radius);
  box-shadow: 0px 4px 4px 0px var(--shadow-15);
  transition: background-color var(--transit);

  /** transition
  |============================
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  |============================
  */
}
.button:hover,
.button:focus {
  background-color: var(--ocean-bg-cl);
}
/* =============== Visually hidden =============== */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/**
  |============================
  | Header section
  |============================
*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--white-bg-cl);
  border-bottom: 1px solid var(--cornflower-bg-cl);
  box-shadow: 0px 1px 6px 0px var(--shadow-08), 0px 1px 1px 0px var(--shadow-16),
    0px 2px 1px 0px var(--shadow-08);
  transition: background-color var(--transit), backdrop-filter var(--transit);
}
.header.no-transparency {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
}
.header-container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header-container {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 123px;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}
.header-logo-color {
  color: var(--navyblue-txt-cl);
}
@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-nav {
    margin-right: auto;
  }
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  position: relative;
  display: block;
  padding-top: 26px;
  padding-bottom: 26px;
  font-weight: 500;
  transition: color var(--transit);
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--ocean-txt-cl);
}
.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--ocean-bg-cl);
  /* opacity: 0;
  transition: opacity var(--transit); */
}
/* .nav-link.current:hover::after {
  opacity: 1;
} */
@media screen and (max-width: 767px) {
  .header .contact-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact-list {
    display: block;
  }
}
@media screen and (min-width: 1158px) {
  .contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}
.contact-link {
  display: block;
  font-style: normal;
  color: var(--slate-txt-cl);
  transition: color var(--transit);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--ocean-txt-cl);
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .contact-item:not(:last-child) {
    margin-bottom: 6px;
  }
  .contact-link {
    font-size: 12px;
    font-weight: 400;
    line-height: calc(14 / 12);
    letter-spacing: 0.48px;
  }
}
@media screen and (min-width: 1158px) {
  .contact-link {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
.header-hamburger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .header-hamburger-btn {
    display: none;
  }
}
.header-hamburger-icon {
  stroke: var(--navyblue-bg-cl);
}
/**
  |============================
  | Hero section
  |============================
*/
.hero.section {
  padding-top: 112px;
  padding-bottom: 112px;
}
.hero {
  background-color: grey;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/hero/hero-bg_mob@1x.png),
    url(../images/hero/hero_mob@1x.jpg);
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero-bg_mob@2x.png),
      url(../images/hero/hero_mob@2x.jpg);
  }
}
.hero-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-txt-cl);
  animation: title-hero-zoom 1000ms ease-out 500ms 1 alternate both;
}
.button-hero {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.button-hero:hover {
  animation: vibrate-1 0.3s linear infinite both;
}
/* ----- min-width: 428px ----- */
@media screen and (min-width: 428px) {
  .hero {
    background-image: url(../images/hero/hero-bg_tab@1x.png),
      url(../images/hero/hero_tab@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/hero/hero-bg_tab@2x.png),
        url(../images/hero/hero_tab@2x.jpg);
    }
  }
}
/* ----- min-width: 768px ----- */
@media screen and (min-width: 768px) {
  .hero.section {
    padding-bottom: 108px;
  }
  .hero {
    background-image: url(../images/hero/hero-bg_desk@1x.png),
      url(../images/hero/hero_desk@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/hero/hero-bg_desk@2x.png),
        url(../images/hero/hero_desk@2x.jpg);
    }
  }
  .hero-title {
    margin-bottom: 40px;
    font-size: 56px;
    line-height: 107%;
  }
}
/* ----- min-width: 1158px ----- */
@media screen and (min-width: 1158px) {
  .hero.section {
    padding: 188px 0;
  }
  .hero-title {
    margin-bottom: 48px;
  }
}
/**
  |============================
  | About section
  |============================
*/
@media screen and (max-width: 1157px) {
  .about-icon-wrapper {
    display: none;
  }
}
.about-list {
  --items: 1;
}
.about-icon {
  min-height: 112px;
}
.about-caption {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
}
.about-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate-txt-cl);
}
/* ----- min-width: 768px ----- */
@media screen and (min-width: 768px) {
  .about-list {
    --items: 2;
  }
  .about-caption {
    text-align: left;
  }
}
/* ----- min-width: 1158px ----- */
@media screen and (min-width: 1158px) {
  .about.section {
    padding-bottom: 0;
  }
  .about-list {
    --items: 4;
  }
  .about-icon-wrapper {
    width: 264px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    background-color: var(--cloud-bg-cl);
  }
  .about-caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
  }
  .about-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }
}
/**
  |============================
  | Benefits section
  |============================
*/
@media screen and (max-width: 1157px) {
  .benefits {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .img-text {
    position: relative;
  }
  .benefits-text {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    min-height: 20%;
    background-color: rgba(194, 194, 207, 0.641);
  }
}
/**
  |============================
  | Team section
  |============================
*/
.team.section {
  padding-bottom: 128px;
  background-color: var(--cloud-bg-cl);
}
.team-list {
  justify-content: center;
  --items: 1;
  --indent: 72px;
}
.team-item {
  flex-basis: auto;
  box-shadow: 0px 2px 1px 0px var(--shadow-08), 0px 1px 1px 0px var(--shadow-16),
    0px 1px 6px 0px var(--shadow-08);
}
.team-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--white-bg-cl);
}
.team-caption {
  margin-bottom: 8px;
}
.post-desc {
  margin-bottom: 8px;
}
.team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris-bg-cl);
  border-radius: 50%;
  transition: background-color var(--transit);
}
.social-icon {
  fill: var(--cloud-bg-cl);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--ocean-bg-cl);
}
/* ----- min-width: 768px ----- */
@media screen and (min-width: 768px) {
  .team.section {
    padding-bottom: 104px;
  }
  .team-list {
    --items: 2;
  }
}
/* ----- min-width: 1158px ----- */
@media screen and (min-width: 1158px) {
  .team.section {
    padding-bottom: 120px;
  }
  .team-list {
    --items: 4;
    --indent: 24px;
  }
}
/**
  |============================
  | Customers section
  |============================
*/
.customers-list {
  justify-content: center;
  --items: 2;
  --indent: 16px;
}
.customers-item {
  flex-basis: auto;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 88px;
  border-radius: var(--radius);
  border: 1px solid var(--light-slate);
  color: var(--light-slate);
  transition: color var(--transit), border-color var(--transit);
}
.customers-icon {
  fill: currentColor;
}
.customers-link:hover {
  border-color: var(--ocean-bg-cl);
  color: var(--ocean-bg-cl);
}
/* ----- min-width: 768px ----- */
@media screen and (min-width: 768px) {
  .customers-list {
    --items: 3;
    --indent: 24px;
  }
  .customers-link {
    width: 168px;
    height: 88px;
  }
}
/* ----- min-width: 1158px ----- */
@media screen and (min-width: 1158px) {
  .customers-list {
    --items: 6;
  }
}
/**
  |============================
  | Footer section
  |============================
*/
.footer.section {
  background-color: var(--navyblue-bg-cl);
}
.footer-container {
  padding-left: 15px;
  padding-right: 15px;
}
.footer-wrapper {
  margin-bottom: 72px;
}
.footer-logo {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}
.footer-logo-color {
  color: var(--cloud-txt-cl);
}
.footer-description {
  max-width: 268px;
  margin-left: auto;
  margin-right: auto;
  color: var(--cornflower-txt-cl);
}
.footer-soial-media {
  margin-bottom: 72px;
}
.footer-title {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--white-txt-cl);
}
.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer .social-link {
  background-color: var(--shadow-10);
}
.footer .social-link:hover {
  background-color: var(--green-bg-cl);
}
.subscribe-title {
  display: block;
}
.subscribe-form-label {
  position: relative;
}
.subscribe-form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;
  color: var(--cornflower-txt-cl);
  border-radius: 4px;
  border: 1px solid var(--shadow-30);
  background: transparent;
  box-shadow: 0px 4px 4px 0px var(--shadow-15);
  outline: 1px solid transparent;
  transition: border-color var(--transit), outline-color var(--transit);
}
.subscribe-form-input:focus,
.subscribe-form-input:focus-visible {
  border-color: var(--iris-bg-cl);
  outline-color: var(--iris-bg-cl);
}
.subscribe-form-input:not(:placeholder-shown):invalid:required {
  border-color: rgb(240, 70, 70);
  outline-color: rgb(240, 70, 70);
}
.subscribe-warning-msg {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-30px);
  display: block;
  width: 100%;
  font-size: 10px;
  color: rgb(240, 70, 70);
  text-align: center;
  opacity: 0;
  transition: opacity var(--transit);
}
.subscribe-form-input:not(:placeholder-shown):focus:invalid:required
  ~ .subscribe-warning-msg {
  opacity: 1;
}
.subscribe-form-input::placeholder {
  color: var(--shadow-60);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;
}
.subscribe-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
}
.subscribe-btn-icon {
  display: block;
}
/* ----- min-width: 768px ----- */
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
    padding-right: 164px;
  }
  .footer-wrapper {
    margin-right: 24px;
  }
  .footer-logo {
    text-align: left;
  }
  .footer-description {
    max-width: 264px;
  }
  .footer-soial-media {
    margin-bottom: 0;
  }
  .footer-title {
    text-align: left;
  }
  .subscribe-form-wrapper {
    width: 453px;
  }
  .subscribe-title {
    text-align: left;
  }
  .subscribe-form {
    display: flex;
    align-items: center;
  }
  .subscribe-form-input {
    width: 264px;
    margin-bottom: 0px;
    margin-right: 24px;
  }
  .subscribe-btn {
    margin: 0;
  }
}
/* ----- min-width: 1158px ----- */
@media screen and (min-width: 1158px) {
  .footer.section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    flex-wrap: nowrap;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-wrapper {
    margin-bottom: 0;
    margin-right: 120px;
  }
  .footer-soial-media {
    margin-right: 80px;
  }
}
/**
  |============================
  | Portfolio section
  |============================
*/
/* Filter */
.portfolio.section {
  padding-top: 48px;
  padding-bottom: 48px;
}
.portfolio-list-filter {
  max-width: 370px;
  justify-content: flex-start;
  row-gap: 16px;
  margin-bottom: 48px;
}
.portfolio-btn {
  min-width: 53px;
  min-height: 40px;
  padding: 8px 16px;
  color: var(--iris-txt-cl);
  background-color: var(--cloud-bg-cl);
  border-radius: var(--radius);
  border: 1px solid var(--cornflower-bg-cl);
  box-shadow: none;
  transition: color var(--transit), background-color var(--transit),
    border-color var(--transit), box-shadow var(--transit);
}
.portfolio-btn:hover,
.portfolio-btn:active {
  color: var(--white-txt-cl);
  background-color: var(--ocean-bg-cl);
  border-color: transparent;
  box-shadow: 0px 2px 2px 0px var(--shadow-12), 0px 2px 1px 0px var(--shadow-8),
    0px 3px 1px 0px var(--shadow-01);
}
/* Gallery */
.portfolio-list {
  --items: 1;
  row-gap: 48px;
}
.portfolio-item {
  max-width: 396px;
}
.img-thumb {
  position: relative;
  overflow: hidden; /* скрывает все что выходит за границы тумбы */
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--iris-bg-cl);
  color: var(--cornflower-txt-cl);
  transform: translateY(100%);
  transition: transform var(--transit);
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
}
/* подвал карточки */
.portfolio-descr-wrapper {
  padding: 32px 16px;
  background-color: var(--white-bg-cl);
  border: 1px solid var(--cornflower-bg-cl);
  border-top: none;
  transition: border-color var(--transit), box-shadow var(--transit);
}
.portfolio-item:hover .portfolio-descr-wrapper {
  border-color: var(--cloud-bg-cl);
  border-top: none;
  box-shadow: 0px 2px 1px 0px var(--shadow-08), 0px 1px 1px 0px var(--shadow-16),
    0px 1px 6px 0px var(--shadow-08);
}
.portfolio-caption {
  margin-bottom: 8px;
}
.portfolio .post-desc {
  margin-bottom: 0;
}
/* ----- min-width: 768px ----- */
@media screen and (min-width: 768px) {
  .portfolio.section {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .portfolio-list-filter {
    justify-content: center;
    max-width: 100%;
    margin-bottom: 64px;
  }
  .portfolio-btn {
    min-width: 69px;
    min-height: 48px;
    padding: 12px 24px;
  }
  .portfolio-list {
    --items: 2;
    row-gap: 72px;
  }
  .portfolio-item {
    max-width: 356px;
  }
}
/* ----- min-width: 1158px ----- */
@media screen and (min-width: 1158px) {
  .portfolio.section {
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .portfolio-list-filter {
    margin-bottom: 72px;
  }
  .portfolio-list {
    --items: 3;
    row-gap: 48px;
  }
  .portfolio-item {
    max-width: 360px;
  }
}
/**
  |============================
  | Modal-window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: var(--shadow-04);
  opacity: 1;
  transition: opacity var(--transit);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: var(--white-bg-cl);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px var(--shadow-02), 0px 1px 3px 0px var(--shadow-12),
    0px 1px 1px 0px var(--shadow-14);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transit);
}
/* close-btn-modal */
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--cornflower-bg-cl);
  border: 1px solid var(--shadow-01);
  transition: color var(--transit), background-color var(--transit),
    border-color var(--transit);
  /* cursor: pointer; */
}
.modal-icon {
  fill: currentColor;
}
.modal-close-btn:hover,
.modal-close-btn:active {
  color: var(--white-bg-cl);
  background-color: var(--ocean-bg-cl);
  border-color: transparent;
}
/* ---------- Form-modal ---------- */
.modal-title {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}
.modal-form-lable {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
  color: var(--light-slate);
}
.modal-form-group {
  position: relative;
  margin-bottom: 8px;
}
.modal-form-field {
  width: 100%;
  height: 40px;
  padding: 11px 16px 11px 38px;
  color: var(--navyblue-bg-cl);
  border: 1px solid var(--shadow-20);
  border-radius: 4px;
  outline: 1px solid transparent;
  transition: border-color var(--transit), outline-color var(--transit);
}
.modal-form-comment {
  resize: none;
  width: 100%;
  margin-bottom: 16px;
  padding: 12px 16px;
  border: 1px solid var(--shadow-20);
  border-radius: 4px;
}
.modal-form-field::placeholder,
.modal-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
  color: var(--shadow-50);
}
.modal-form-field:focus,
.modal-form-field:focus-visible,
.modal-form-comment:focus,
.modal-form-comment:focus-visible {
  border-color: var(--iris-bg-cl);
  outline-color: var(--iris-bg-cl);
}
/* .modal-form-field:focus-visible,
.modal-form-comment:focus-visible {
  border-color: var(--iris-bg-cl);
  outline-color: var(--iris-bg-cl);
} */
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--navyblue-bg-cl);
  transition: fill var(--transit);
}
.modal-form-field:focus + .modal-form-icon {
  fill: var(--iris-bg-cl);
}
.modal-form-field:not(:placeholder-shown):required:invalid {
  border-color: rgb(240, 70, 70);
  outline-color: rgb(240, 70, 70);
}
/* .modal-form-field:not(:placeholder-shown):required:valid {
  border-color: rgb(0, 164, 57);
  outline-color: rgb(0, 164, 57);
} */
.info-icons {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
}
.success-icon {
  opacity: 0;
  fill: rgb(0, 164, 57);
  transition: opacity var(--transit);
}
.modal-form-field:not(:placeholder-shown):valid:required
  ~ .info-icons
  > .success-icon {
  opacity: 1;
}
.warning-icon {
  opacity: 0;
  fill: rgb(240, 70, 70);
  transition: opacity var(--transit);
}
.modal-form-field:not(:placeholder-shown):focus:invalid:required
  ~ .info-icons
  > .warning-icon {
  opacity: 1;
}
.warning-msg {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(20px);
  display: block;
  width: 100%;
  font-size: 10px;
  color: rgb(240, 70, 70);
  text-align: center;
  opacity: 0;
  transition: opacity var(--transit);
}
.modal-form-field:not(:placeholder-shown):focus:invalid:required
  ~ .warning-msg {
  opacity: 1;
}
/* ----- Agreement-field ----- */
.modal-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 24px;
}
/* ----- Checkbox первый вариант ----- */
.modal-form-checkbox {
  appearance: none;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--navyblue-bg-cl);
  border-radius: 3px;
  transition: background-color 400ms cubic-bezier(0.075, 0.82, 0.165, 1),
    border-color 400ms cubic-bezier(0.075, 0.82, 0.165, 1),
    background-size 400ms cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0px;
}
.modal-form-checkbox:checked {
  background-color: var(--ocean-txt-cl);
  border-color: var(--ocean-txt-cl);
  background-size: 14px;
}
.modal-form-desc {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
  user-select: none;
}
.modal-form-link {
  line-height: 1.33;
  color: var(--iris-txt-cl);
}
.modal-form-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* Делаем кнопку неактивной */
.modal-form-btn:disabled {
  filter: grayscale(1);
  background-color: transparent;
  border: 1px solid var(--shadow-20);
  color: inherit;

  cursor: not-allowed;
}
/**
  |============================
  | Mobile-menu
  |============================
*/
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: var(--white-bg-cl);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  fill: black;
  background-color: var(--cornflower-bg-cl);
  border-radius: 50%;
  border: 1px solid var(--shadow-01);
  cursor: pointer;
  outline: none;
  transition: fill var(--transit), border-color var(--transit),
    border var(--transit);
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--white-bg-cl);
  background-color: var(--ocean-bg-cl);
  border: transparent;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 284px;
  padding: 0;
  list-style: none;
}
.mobile-nav-link {
  display: block;
  padding: 0;
  color: var(--navyblue-txt-cl);
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  line-height: calc(40 / 36);
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.mobile-nav-link.current {
  color: var(--ocean-txt-cl);
}
.mobile .contact-list {
  margin-bottom: 48px;
}
.mobile .contact-list {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
}
.mobile-email.contact-link {
  font-size: 20px;
  font-weight: 500;
  line-height: calc(24 / 20);
  letter-spacing: 0.4px;
}
.mobile-tel.contact-link {
  font-size: 36px;
  font-weight: 700;
  line-height: calc(40 / 36);
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--iris-txt-cl);
}
.mobile .social-media-list {
  display: flex;
  gap: 56px;
}
