/*__________ Variable styles __________*/
:root {
  /* Fonts */
  --primary-fonts: Roboto, sans-serif;
  --secondary-fonts: Raleway, sans-serif;
  /* Text color */
  --navyblue-txt-cl: #2e2f42;
  --slate-txt-cl: #434455;
  --iris-txt-cl: #4d5ae5;
  --ocean-txt-cl: #404bbf;
  --white-txt-cl: #ffffff;
  --cloud-txt-cl: #f4f4fd;
  --cornflower-txt-cl: #e7e9fc;
  /* BG color */
  --navyblue-bg-cl: #2e2f42;
  --iris-bg-cl: #4d5ae5;
  --ocean-bg-cl: #404bbf;
  --white-bg-cl: #ffffff;
  --cloud-bg-cl: #f4f4fd;
  --cornflower-bg-cl: #e7e9fc;
  --shadow-btn: rgba(0, 0, 0, 0.15);
  /* Others */
  --radius: 4px;
  --indent: 24px;
  --items: 3;
}
/*__________ Reset styles __________*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: currentColor;
}
/*__________ Common styles __________*/
body {
  font-family: var(--primary-fonts);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  color: var(--navyblue-txt-cl);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
/*__________ Basic styles __________*/
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;

  outline: 1px solid red;
}
.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33; /* 133.333% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--iris-txt-cl);
}
.current {
  color: var(--ocean-txt-cl);
}
.title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
}
.caption {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.description,
.post-desc {
  color: var(--slate-txt-cl);
}
.hidden-title {
  display: none;
}
/* Button */
.button {
  min-width: 169px;
  min-height: 56px;
  padding: 16px 32px;

  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  color: var(--white-txt-cl);
  background-color: var(--iris-bg-cl);

  border: transparent;
  border-radius: var(--radius);
  box-shadow: 0px 4px 4px 0px var(--shadow-btn);
  cursor: pointer;
}
.button:hover {
  background-color: var(--ocean-bg-cl);
}
/* Card-set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  flex-basis: calc((100% - var(--indent) * var(--items) - 1)) / var(--items);
}
/*__________ Header section __________*/
.header-container,
.header-list,
.header-address {
  display: flex;
  align-items: center;
}
.header .logo {
  margin-right: 76px;
}
.header-logo-color {
  color: var(--navyblue-txt-cl);
}
.header-list,
.header-address {
  gap: 40px;
}
.nav-link {
  font-weight: 500;
}
.nav-link,
.contact-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-nav {
  margin-right: auto;
}
.contact-link {
  font-style: normal;
  color: var(--slate-txt-cl);
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.contact-link:hover,
.contact-link:focus {
  color: var(--ocean-txt-cl);
}
/*__________ Hero section __________*/
.hero.section {
  padding: 188px 0;
  background-color: var(--navyblue-bg-cl);
}
.hero-title {
  margin-bottom: 48px;

  text-align: center;
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
  color: var(--white-txt-cl);
}
.hero .button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/*__________ About section __________*/
.about.section {
  padding-bottom: 0;
}
.about-list {
  display: flex;
  gap: 24px;
}
.about-item {
  width: 264px;
}
.about .caption,
.team-wrapper .caption {
  margin-bottom: 8px;
}
/*__________ Benefits section __________*/
/*__________ Team section __________*/
.team-item {
  width: 264px;
}
.team .card-set {
  --items: 4;
}
.team-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;

  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--white-bg-cl);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
/*__________ Footer section __________*/
.footer.section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--navyblue-bg-cl);
}
.footer .logo {
  margin-bottom: 16px;
}
.footer-logo-color {
  color: var(--cloud-txt-cl);
}
.footer-description {
  width: 264px;
  color: var(--cornflower-txt-cl);
}
/*__________ Portfolio section __________*/
.portfolio.section {
  padding-top: 86px;
}
.portfolio-list-filter {
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio .button {
  /* display: block; */
  min-width: 69px;
  min-height: 48px;
  padding: 11px 20px;
  color: var(--iris-txt-cl);
  background-color: var(--cloud-bg-cl);
  border-radius: var(--radius);
  border: 1px solid var(--cornflower-bg-cl);
}
.portfolio .button:hover,
.portfolio .button:active {
  color: var(--white-txt-cl);
  background-color: var(--ocean-bg-cl);
  border-radius: var(--radius);
  border: transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.portfolio .card-set {
  gap: 48px 24px;
}
.portfolio-item {
  width: 360px;
}
.portfolio-wrapper {
  padding: 32px 16px;
  background-color: var(--white-bg-cl);
  border: 1px solid var(--cornflower-bg-cl);
  border-top: none;
}
.portfolio .caption {
  margin-bottom: 8px;
}
